@using ValidPeople.Web.Shared
@using ValidPeople.Web.Shared.People
@using ValidPeople.Web.Client.Helpers
@inject HttpClient Http

<div class="container">
    <div class="row">
        <EditForm Model="Person" OnSubmit="Submit" @onreset="Reset">
            <div class="person-form">
                <div class="person-form-data person-form-data-label">Name</div>
                <div class="person-form-data person-form-tab">
                    <div>
                        <label class="person-form-data-label" for="first-name">First Name</label>
                        <InputText @bind-Value="Person.Name.FirstName" class="form-control" id="first-name" />
                    </div>
                    <div>
                        <label class="person-form-data-label" for="last-name">Last Name</label>
                        <InputText @bind-Value="Person.Name.LastName" class="form-control" id="last-name" />
                    </div>
                </div>
                <div>
                    <label class="person-form-data-label" for="birth">Birth Date</label>
                    <InputDate @bind-Value="@Person.Birth" class="form-control" id="birth" />
                </div>
                <div>
                    <label class="person-form-data-label" for="email">Email</label>
                    <InputText @bind-Value="Person.Email" class="form-control" id="email" />
                </div>
                <div>
                    <label class="person-form-data-label" for="revenue">Revenue</label>
                    <InputNumber @bind-Value="Person.Revenue" class="form-control" id="revenue" />
                </div>
                <div>
                    <label class="person-form-data-label" for="profession">Profession</label>
                    <InputText @bind-Value="Person.Profession" class="form-control" id="profession" />
                </div>
                <div>
                    <label class="person-form-data-label">Hobby</label>
                    <select @onchange="e => Person.Hobby = e.SelectEnumeration(Resource.Hobbies)" class="form-control">
                        @foreach (var hobby in Resource.Hobbies)
                        {
                            <option value="@hobby.Id" selected="@(hobby.Id == Person.Hobby?.Id)">@hobby.Name</option>
                        }
                    </select>
                </div>
                <div>
                    <label class="person-form-data-label">Educational Level</label>
                    <select @onchange="e => Person.EducationalLevel = e.SelectEnumeration(Resource.EducationalLevels)" class="form-control">
                        @foreach (var level in Resource.EducationalLevels)
                        {
                            <option value="@level.Id" selected="@(level.Id == Person.EducationalLevel?.Id)">@level.Name</option>
                        }
                    </select>
                </div>
                <div class="form-check person-form-data-label">
                    <InputCheckbox @bind-Value="Person.Cloned" class="form-check-input" id="cloned" />
                    <label class="form-check-label" for="cloned">Cloned</label>
                </div>
                <div class="person-form-data person-form-data-label">Cpf</div>
                <div class="person-form-data person-form-tab">
                    <div>
                        <label class="person-form-data-label" for="cpf-number">Number</label>
                        <InputText @bind-Value="Person.Cpf.Number" class="form-control" id="cpf-number" />
                    </div>
                    <div>
                        <label class="person-form-data-label" for="cpf-emission">Emission Date</label>
                        <InputDate @bind-Value="@Person.Cpf.Emission" class="form-control" id="cpf-emission"></InputDate>
                    </div>
                    <div>
                        <label class="person-form-data-label" for="cpf-expiration">Expiration Date</label>
                        <InputDate @bind-Value="@Person.Cpf.Expiration" class="form-control" id="cpf-expiration"></InputDate>
                    </div>
                </div>
                <div class="person-form-data person-form-parents">
                    <div class="person-form-data-label">Parents</div>
                    @if (CanAddParents)
                    {
                        <button class="btn btn-sm person-controll-button" @onclick="AddParent" type="button">Add parent</button>
                    }
                </div>
                @foreach (var parent in Person.Parents)
                {
                    <div class="person-form-data person-form-tab">
                        <div class="person-form-data person-form-parent-name">
                            <div class="person-form-data-label">Name</div>
                            <button class="btn btn-sm person-controll-button" type="button" @onclick="() => RemoveParent(parent)"><span class="oi oi-x" aria-hidden="true"></span></button>
                        </div>
                        <div class="person-form-data person-form-tab">
                            <div>
                                <label class="person-form-data-label" for="@($"parent-{Person.Parents.IndexOf(parent)}-first-name")">First Name</label>
                                <InputText @bind-Value="parent.Name.FirstName" class="form-control" id="@($"parent-{Person.Parents.IndexOf(parent)}-first-name")" />
                            </div>
                            <div>
                                <label class="person-form-data-label" for="@($"parent-{Person.Parents.IndexOf(parent)}-last-name")">Last Name</label>
                                <InputText @bind-Value="parent.Name.LastName" class="form-control" id="@($"parent-{Person.Parents.IndexOf(parent)}-last-name")" />
                            </div>
                        </div>
                        <div>
                            <label class="person-form-data-label">Relation</label>
                            <select @onchange="e => parent.Relation = e.SelectEnumeration(Resource.ParentRelations)" class="form-control">
                                @foreach (var relation in Resource.ParentRelations)
                                {
                                    <option value="@relation.Id" selected="@(relation.Id == parent.Relation?.Id)">@relation.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                }
                @ChildContent
            </div>
            <div class="person-form-controll">
                <button class="btn person-controll-button" type="submit">Submit</button>
                <button class="btn person-controll-button" type="reset">Reset</button>
            </div>
        </EditForm>
    </div>
</div>

<Notification Errors="Errors" ShowNotification="ShowNotification" Dismiss="HideNotification" />

@code {
    [Parameter]
    public bool ShowNotification { get; set; }

    [Parameter]
    public IEnumerable<ErrorViewModel> Errors { get; set; }

    [Parameter]
    public PersonViewModel Person { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public Func<Task> Submit { get; set; }

    [Parameter]
    public Action Reset { get; set; }

    [Parameter]
    public Resource Resource { get; set; }

    private bool CanAddParents => Person.Parents.Count < 2;
    private void HideNotification() => ShowNotification = false;

    private void AddParent()
    {
        Person.Parents.Add(new ParentViewModel
        {
            Name = new NameViewModel()
        });
    }

    private void RemoveParent(ParentViewModel parent)
    {
        Person.Parents.Remove(parent);
    }
}
